<!DOCTYPE html>

{% block sidebar %}
    <a href="{% url 'home' %}">Главная</a>
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'registration' %}">Регистрация</a>

    {% else %}
        <a href="{% url 'logout' %}">Выйти</a>
        <a href="{% url 'profile' user.id %}">Мой профиль</a>

    {% endif %}

    {% if user.user_group %}
        <a href="{% url 'course_creation' %}">Создать курс</a>
    {% endif %}

{% endblock %}


<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    {% block css %}

    {% endblock %}
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
{% block contetnt %}

{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>


{% block js %}

{% endblock %}
</body>
</html>