{% extends "base.html" %}

<title>{{ course.title }}</title>

{% block contetnt %}
    <div class="select2-container" style="margin-top: 10px;">
        <div class="card" style="width: 18rem;" style="margin-top: 10px;">
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p class="card-text">{{ course.description }}</p>
                <p class="card-text">Price {{ course.price }}</p>

                {#        <a href="#" class="btn btn-primary">Read more</a>#}


                {% if user.is_authenticated and not is_subscribed %}
                    <form action="{% url 'subscriber' %}" method="POST"> {% csrf_token %}
                        <input type="hidden" name='course_id' value="{{ course.id }}">
                        <input type="hidden" value="subscribe" name="action">
                        <button class="btn btn-primary" type="submit">Подписаться</button>
                    </form>

                {% elif user.is_authenticated and is_subscribed %}

                    <form action="{% url 'subscriber' %}" method="POST"> {% csrf_token %}
                        <input type="hidden" name='course_id' value="{{ course.id }}">
                        <input type="hidden" value="unsubscribe" name="action">
                        <button class="btn btn-danger" type="submit">Отписаться</button>
                    </form>

                {% endif %}
                {% if user.user_can_delete_course %}
                    <form action="{% url 'course_delete' course.id %}" method="POST">{% csrf_token %}

                        <button type="submit" class="btn btn-danger">Удалить курс</button>

                    </form>
                {% endif %}

                {% if user.user_group %}

                    <a href="{% url 'course_update' course.id %}" class="btn btn-warning">Обновить</a>

                {% endif %}

            </div>
        </div>
    </div>
    <p>Комментарии ({{ course.comment_course.all.count }})</p>


    <ul>
        {% for comment in course.comment_course.all %} <br>
            <li>
                Дата публикации: {{ comment.created_at }}<br>
                Автор: {{ comment.commentator }}<br><br>
                Текст: {{ comment.text }}
            </li>
        {% endfor %}
    </ul>
    <hr>
    {% if user.is_authenticated %}
        <p>Добавить комментарий</p>
        <div class="col-4">
        <form action="" method="POST"> {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    {% endif %}


</div>
{% endblock %}



