{% extends 'base.html' %}

{% block contetnt %}

    <form method="POST">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <button class="btn btn-success">Добавить</button>
    </form>
{% endblock %}
