{% extends "base.html" %}

{% block contetnt %}
<h1>Категории</h1>


{% for category in object_list %}
    <form method="GET">
        <input type="hidden" name='c_id' value="{{ category.id }}">
        <button>{{ category.name }}</button>
    </form>
{% endfor %}

<h1>Курсы</h1>
{% for course in courses %}
    <li><a href='{% url 'course_detail' course.id %}' > {{ course.title }}</a></li>
{% endfor %}

<a href="{% url 'design' %}">{{ category.name }}</a>

{% endblock %}


