{% extends 'base.html' %}
{% block sidebar %}
<a href="{% url 'home' %}">Главная</a>
{% endblock %}
{% block contetnt %}
    <form method="POST">{% csrf_token %}
        <p class="danger">{{ form.non_field_errors|striptags }}</p>
        <div>
            <p>{{ form.username.label }}</p>
            <p>{{ form.username }}</p>
         </div>
        <div>
            <p>{{ form.password.label }}</p>
            <p>{{ form.password }}</p>
        </div>
        <div>
            <button class="btn btn-primary" type="submit" >Login</button>
        </div>

    </form>


{% endblock %}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>