{% extends 'base.html' %}

{% block contetnt %}
    <li>
        <h7>User name:</h7>
        {{ user.username }} <br/>
        <h8>Email:</h8>
        {{ user.email }} <br/>
        <h8>Date of birth:</h8>
        {{ user.date_of_birth }} <br/>
        <h8>Phone:</h8>
        {{ user.phone }} <br/>
        <h8>Country/region:</h8>
        {{ user.country }} <br/>
        {#    <button type="button" class="btn btn-success">Success</button>#}
        <a href="{% url 'profile-edit' user.id %}" class="btn btn-success">Редактировать</a>
    </li>

    <h3>Мои курсы</h3>
    {% for course in l_courses %}
        <li><a href='{% url 'course_detail' course.id %}'> {{ course }} </a></li>
    {% endfor %}




{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

</body>
</html>