{% extends 'base.html' %}


{% block contetnt %}
    <form method="POST">{% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td>
                    <button class="btn btn-success" type="submit">Зарегистрироваться</button>
            </tr>
            </td>
        </table>
    </form>


{% endblock %}